{% extends "base.html" %}
{% block title %}My Data Science Site-Blog Posts{% endblock %}
{% block head %}
{{ super() }}

{% endblock %}
{% block content %}
<a href="{{url_for('BPBlog.create_post')}}">New Post</a>
{% if posts %}
<div class="row">
    <h1>Blog Posts</h1>
</div>
<hr />
<div class="row">
    <div class="col-md-12 col-xs-12 col-lg-12 col-sm-12">
        {% for post in posts %}
        <div class="row">
            <div class="col-md-4"><a href="{{url_for('BPBlog.viewpost',id=post.id)}}">{{post.postTitle}}</a></div>
        </div>
        {% endfor %}
        <div class="row"></div>
    </div>
</div>
{% else %}

<h3>No blog posts yet</h3>

{% endif %}


{% endblock %}

{% block scripts %}

{{ ckeditor.load() }}
{{ ckeditor.config() }}

{% endblock %}
